@font-face {
  font-family: 'Tunga-Icons';
  src:  url('fonts/Tunga-Icons.eot?3o9yhj');
  src:  url('fonts/Tunga-Icons.eot?3o9yhj#iefix') format('embedded-opentype'),
    url('fonts/Tunga-Icons.ttf?3o9yhj') format('truetype'),
    url('fonts/Tunga-Icons.woff?3o9yhj') format('woff'),
    url('fonts/Tunga-Icons.svg?3o9yhj#Tunga-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="tg-ic-"], [class*=" tg-ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Tunga-Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tg-ic-check:before {
  content: "\e904";
}
.tg-ic-close:before {
  content: "\e907";
}
.tg-ic-attention:before {
  content: "\e905";
}
.tg-ic-warning:before {
  content: "\e922";
}
.tg-ic-add:before {
  content: "\e903";
}
.tg-ic-circle:before {
  content: "\e918";
}
.tg-ic-search:before {
  content: "\e919";
}
.tg-ic-download:before {
  content: "\e90a";
}
.tg-ic-upload:before {
  content: "\e91f";
}
.tg-ic-pencil:before {
  content: "\e90c";
}
.tg-ic-logout:before {
  content: "\e911";
}
.tg-ic-chat:before {
  content: "\e900";
}
.tg-ic-headphone:before {
  content: "\e924";
}
.tg-ic-tools:before {
  content: "\e91a";
}
.tg-ic-rocket:before {
  content: "\e929";
}
.tg-ic-rocket-tilted:before {
  content: "\e90f";
}
.tg-ic-rocket-o:before {
  content: "\e935";
}
.tg-ic-rocket-circle:before {
  content: "\e92b";
}
.tg-ic-ellipsis:before {
  content: "\e902";
}
.tg-ic-colon:before {
  content: "\e901";
}
.tg-ic-filter-alt:before {
  content: "\e927";
}
.tg-ic-filter:before {
  content: "\e90d";
}
.tg-ic-avatar:before {
  content: "\e916";
}
.tg-ic-calendar:before {
  content: "\e906";
}
.tg-ic-calendar-add:before {
  content: "\e923";
}
.tg-ic-meter:before {
  content: "\e908";
}
.tg-ic-file:before {
  content: "\e909";
}
.tg-ic-projects:before {
  content: "\e917";
}
.tg-ic-id:before {
  content: "\e910";
}
.tg-ic-bank:before {
  content: "\e912";
}
.tg-ic-card:before {
  content: "\e913";
}
.tg-ic-wallet:before {
  content: "\e914";
}
.tg-ic-cash:before {
  content: "\e915";
}
.tg-ic-tag:before {
  content: "\e91c";
}
.tg-ic-link:before {
  content: "\e920";
}
.tg-ic-tribe:before {
  content: "\e91e";
}
.tg-ic-g-drive:before {
  content: "\e90b";
}
.tg-ic-github:before {
  content: "\e90e";
}
.tg-ic-slack:before {
  content: "\e91b";
}
.tg-ic-trello:before {
  content: "\e91d";
}
