@font-face {
  font-family: 'Tunga-Icons';
  src:  url('fonts/Tunga-Icons.eot?f68912');
  src:  url('fonts/Tunga-Icons.eot?f68912#iefix') format('embedded-opentype'),
    url('fonts/Tunga-Icons.ttf?f68912') format('truetype'),
    url('fonts/Tunga-Icons.woff?f68912') format('woff'),
    url('fonts/Tunga-Icons.svg?f68912#Tunga-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  font-display: swap;
}

@font-face {
  font-family: 'Tunga-Icons-new';
  src:  url('fonts/Tunga-Icons-new.eot?jcdzc6');
  src:  url('fonts/Tunga-Icons-new.eot?jcdzc6#iefix') format('embedded-opentype'),
    url('fonts/Tunga-Icons-new.ttf?jcdzc6') format('truetype'),
    url('fonts/Tunga-Icons-new.woff?jcdzc6') format('woff'),
    url('fonts/Tunga-Icons-new.svg?jcdzc6#Tunga-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  font-display: swap;
}

[class^="tg-ic-"], [class*=" tg-ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Tunga-Icons', 'Tunga-Icons-new' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tg-ic-angle-right-circle:before {
  content: "\e900";
}
.tg-ic-archive-outline:before {
  content: "\e901";
}
.tg-ic-baseline-folder-open:before {
  content: "\e902";
}
.tg-ic-calendar2:before {
  content: "\e903";
}
.tg-ic-cancel:before {
  content: "\e904";
}
.tg-ic-check3:before {
  content: "\e905";
}
.tg-ic-circle-edit-outline:before {
  content: "\e906";
}
.tg-ic-clock-outline:before {
  content: "\e907";
}
.tg-ic-delete-outline:before {
  content: "\e908";
}
.tg-ic-dots-horizontal:before {
  content: "\e909";
}
.tg-ic-exclamation-triangle:before {
  content: "\e90a";
}
.tg-ic-file-document-outline:before {
  content: "\e90b";
}
.tg-ic-file-upload-outline:before {
  content: "\e90c";
}
.tg-ic-filter-variant:before {
  content: "\e90d";
}
.tg-ic-flag-outline:before {
  content: "\e90e";
}
.tg-ic-information-outline:before {
  content: "\e90f";
}
.tg-ic-link-variant:before {
  content: "\e910";
}
.tg-ic-log-out:before {
  content: "\e911";
}
.tg-ic-outline-dashboard:before {
  content: "\e912";
}
.tg-ic-outline-remove-red-eye:before {
  content: "\e913";
}
.tg-ic-outline-settings:before {
  content: "\e914";
}
.tg-ic-paperclip:before {
  content: "\e915";
}
.tg-ic-round-add:before {
  content: "\e916";
}
.tg-ic-round-arrow-back-ios:before {
  content: "\e917";
}
.tg-ic-round-payment:before {
  content: "\e918";
}
.tg-ic-rounded-keyboard-arrow-down:before {
  content: "\e919";
}
.tg-ic-search:before {
  content: "\e91a";
}
.tg-ic-toggle-switch-off:before {
  content: "\e91b";
}
.tg-ic-toggle-switch-on:before {
  content: "\e91c";
}
.tg-ic-x-circle:before {
  content: "\e91d";
}
.tg-ic-youtube-play:before {
  content: "\e9ba";
}
.tg-ic-lock-alt:before {
  content: "\e9b6";
  color: #757575;
}
.tg-ic-search-alt:before {
  content: "\e9b7";
}
.tg-ic-chat-alt:before {
  content: "\e9b8";
}
.tg-ic-headphone-alt:before {
  content: "\e9b9";
}
.tg-ic-times-circle-o:before {
  content: "\e9b5";
}
.tg-ic-times-circle:before {
  content: "\e9b4";
}
.tg-ic-bullhorn:before {
  content: "\e9b3";
}
.tg-ic-quote-left:before {
  content: "\e9b1";
}
.tg-ic-quote-right:before {
  content: "\e9b2";
}
.tg-ic-google:before {
  content: "\e9ac";
}
.tg-ic-google-plus-circle:before {
  content: "\e9ad";
}
.tg-ic-google-plus-official:before {
  content: "\e9ae";
}
.tg-ic-google-plus-square:before {
  content: "\e9af";
}
.tg-ic-google-plus:before {
  content: "\e9b0";
}
.tg-ic-team-thick:before {
  content: "\e9a9";
  color: #777;
}
.tg-ic-rocket-side-thick:before {
  content: "\e9aa";
  color: #777;
}
.tg-ic-team:before {
  content: "\e9ab";
}
.tg-ic-envelope-o:before {
  content: "\e9a4";
}
.tg-ic-envelope-open-o:before {
  content: "\e9a5";
}
.tg-ic-envelope-open:before {
  content: "\e9a6";
}
.tg-ic-envelope-square:before {
  content: "\e9a7";
}
.tg-ic-envelope:before {
  content: "\e9a8";
}
.tg-ic-info-circle:before {
  content: "\e9a2";
}
.tg-ic-info:before {
  content: "\e9a3";
}
.tg-ic-toggle-off:before {
  content: "\e9a0";
}
.tg-ic-toggle-on:before {
  content: "\e9a1";
}
.tg-ic-bell-o:before {
  content: "\e99c";
}
.tg-ic-bell-slash-o:before {
  content: "\e99d";
}
.tg-ic-bell-slash:before {
  content: "\e99e";
}
.tg-ic-bell:before {
  content: "\e99f";
}
.tg-ic-map-marker:before {
  content: "\e997";
}
.tg-ic-map-o:before {
  content: "\e998";
}
.tg-ic-map-pin:before {
  content: "\e999";
}
.tg-ic-map-signs:before {
  content: "\e99a";
}
.tg-ic-map:before {
  content: "\e99b";
}
.tg-ic-location-arrow:before {
  content: "\e996";
}
.tg-ic-phone-square:before {
  content: "\e991";
}
.tg-ic-phone:before {
  content: "\e992";
}
.tg-ic-address-book-o:before {
  content: "\e993";
}
.tg-ic-address-book:before {
  content: "\e994";
}
.tg-ic-lock:before {
  content: "\e995";
}
.tg-ic-flag-o:before {
  content: "\e98f";
}
.tg-ic-flag:before {
  content: "\e990";
}
.tg-ic-flag-checkered:before {
  content: "\e97e";
}
.tg-ic-bitcoin:before {
  content: "\e978";
}
.tg-ic-calendar-check-o:before {
  content: "\e979";
}
.tg-ic-check-circle-o:before {
  content: "\e97a";
}
.tg-ic-check-square-o:before {
  content: "\e97b";
}
.tg-ic-check-square:before {
  content: "\e97c";
}
.tg-ic-check2:before {
  content: "\e97d";
}
.tg-ic-pencil-square-o:before {
  content: "\e97f";
}
.tg-ic-pencil-square:before {
  content: "\e980";
}
.tg-ic-pencil2:before {
  content: "\e981";
}
.tg-ic-trash-o:before {
  content: "\e983";
}
.tg-ic-trash:before {
  content: "\e984";
}
.tg-ic-star-half-empty:before {
  content: "\e985";
}
.tg-ic-star-half-full:before {
  content: "\e986";
}
.tg-ic-star-half-o:before {
  content: "\e987";
}
.tg-ic-star-half:before {
  content: "\e988";
}
.tg-ic-star-o:before {
  content: "\e989";
}
.tg-ic-star:before {
  content: "\e98a";
}
.tg-ic-newspaper-o:before {
  content: "\e98b";
}
.tg-ic-pie-chart:before {
  content: "\e976";
}
.tg-ic-image:before {
  content: "\e92e";
}
.tg-ic-education:before {
  content: "\e92f";
}
.tg-ic-drill:before {
  content: "\e931";
}
.tg-ic-cv:before {
  content: "\e932";
}
.tg-ic-skills:before {
  content: "\e933";
}
.tg-ic-tool-case:before {
  content: "\e937";
}
.tg-ic-build-network:before {
  content: "\e938";
}
.tg-ic-post-task:before {
  content: "\e939";
}
.tg-ic-manage-tasks:before {
  content: "\e93a";
}
.tg-ic-make-transaction:before {
  content: "\e93b";
}
.tg-ic-browse-developers:before {
  content: "\e93c";
}
.tg-ic-intensive-guidance:before {
  content: "\e93d";
}
.tg-ic-dedicated-monitor:before {
  content: "\e93e";
}
.tg-ic-do-it-yourself:before {
  content: "\e93f";
}
.tg-ic-project:before {
  content: "\e940";
}
.tg-ic-coding-skills:before {
  content: "\e947";
}
.tg-ic-teamwork-dot:before {
  content: "\e948";
}
.tg-ic-teamwork-arrow:before {
  content: "\e949";
}
.tg-ic-teamwork:before {
  content: "\e94a";
}
.tg-ic-soft-skills-alt:before {
  content: "\e94b";
}
.tg-ic-soft-skills:before {
  content: "\e94c";
}
.tg-ic-do-workflow:before {
  content: "\e94d";
}
.tg-ic-do-workflow-alt:before {
  content: "\e94e";
}
.tg-ic-do-web:before {
  content: "\e94f";
}
.tg-ic-do-slice:before {
  content: "\e950";
}
.tg-ic-do-pm:before {
  content: "\e951";
}
.tg-ic-do-pm-alt:before {
  content: "\e952";
}
.tg-ic-do-app:before {
  content: "\e953";
}
.tg-ic-how-feedback:before {
  content: "\e954";
}
.tg-ic-how-workflow:before {
  content: "\e955";
}
.tg-ic-how-matches:before {
  content: "\e956";
}
.tg-ic-how-needs:before {
  content: "\e957";
}
.tg-ic-mobile:before {
  content: "\e958";
}
.tg-ic-other:before {
  content: "\e959";
}
.tg-ic-speed-up:before {
  content: "\e95a";
}
.tg-ic-web:before {
  content: "\e95b";
}
.tg-ic-web-alt:before {
  content: "\e95c";
}
.tg-ic-service-workflow:before {
  content: "\e95d";
}
.tg-ic-service-web:before {
  content: "\e95e";
}
.tg-ic-service-slicing:before {
  content: "\e95f";
}
.tg-ic-service-pm:before {
  content: "\e960";
}
.tg-ic-service-app:before {
  content: "\e961";
}
.tg-ic-cv-alt:before {
  content: "\e965";
}
.tg-ic-file-search:before {
  content: "\e96a";
}
.tg-ic-building:before {
  content: "\e96d";
  color: #777;
}
.tg-ic-money-loop:before {
  content: "\e925";
}
.tg-ic-cc-stripe:before {
  content: "\e982";
}
.tg-ic-medium:before {
  content: "\e98c";
}
.tg-ic-twitter:before {
  content: "\e98e";
}
.tg-ic-twitter-square:before {
  content: "\e98d";
}
.tg-ic-linkedin:before {
  content: "\e977";
}
.tg-ic-linkedin-square:before {
  content: "\e973";
}
.tg-ic-bars:before {
  content: "\e964";
}
.tg-ic-check:before {
  content: "\e91e";
}
.tg-ic-close:before {
  content: "\e91f";
}
.tg-ic-cross:before {
  content: "\e963";
}
.tg-ic-attention:before {
  content: "\e920";
}
.tg-ic-warning:before {
  content: "\e922";
}
.tg-ic-add:before {
  content: "\e921";
}
.tg-ic-question:before {
  content: "\e962";
}
.tg-ic-circle:before {
  content: "\e923";
}
.tg-ic-search1:before {
  content: "\e924";
}
.tg-ic-download:before {
  content: "\e926";
}
.tg-ic-upload:before {
  content: "\e927";
}
.tg-ic-pencil:before {
  content: "\e928";
}
.tg-ic-attachment:before {
  content: "\e930";
}
.tg-ic-copy:before {
  content: "\e929";
}
.tg-ic-logout:before {
  content: "\e92a";
}
.tg-ic-exit-door:before {
  content: "\e934";
}
.tg-ic-paper-plane:before {
  content: "\e92b";
}
.tg-ic-paper-plane-outline:before {
  content: "\e936";
}
.tg-ic-chat:before {
  content: "\e92c";
}
.tg-ic-headphone:before {
  content: "\e92d";
}
.tg-ic-home:before {
  content: "\e935";
}
.tg-ic-messages:before {
  content: "\e941";
}
.tg-ic-support:before {
  content: "\e942";
}
.tg-ic-tools:before {
  content: "\e943";
}
.tg-ic-location:before {
  content: "\e944";
}
.tg-ic-rocket:before {
  content: "\e945";
}
.tg-ic-rocket-tilted:before {
  content: "\e946";
}
.tg-ic-rocket-o:before {
  content: "\e966";
}
.tg-ic-rocket-circle:before {
  content: "\e967";
}
.tg-ic-ellipsis:before {
  content: "\e968";
}
.tg-ic-colon:before {
  content: "\e969";
}
.tg-ic-filter-alt:before {
  content: "\e96b";
}
.tg-ic-filter:before {
  content: "\e96c";
}
.tg-ic-arrow-left:before {
  content: "\e96e";
}
.tg-ic-arrow-right:before {
  content: "\e96f";
}
.tg-ic-arrow-up:before {
  content: "\e970";
}
.tg-ic-arrow-down:before {
  content: "\e971";
}
.tg-ic-caret-left:before {
  content: "\e972";
}
.tg-ic-caret-down:before {
  content: "\e974";
}
.tg-ic-previous:before {
  content: "\e975";
}
.tg-ic-next:before {
  content: "\e9bb";
}
.tg-ic-avatar:before {
  content: "\e9bc";
}
.tg-ic-calendar:before {
  content: "\e9bd";
}
.tg-ic-calendar-add:before {
  content: "\e9be";
}
.tg-ic-agenda:before {
  content: "\e9bf";
}
.tg-ic-meter:before {
  content: "\e9c0";
}
.tg-ic-file:before {
  content: "\e9c1";
}
.tg-ic-projects:before {
  content: "\e9c2";
}
.tg-ic-profile:before {
  content: "\e9c3";
}
.tg-ic-id:before {
  content: "\e9c4";
}
.tg-ic-bank:before {
  content: "\e9c5";
}
.tg-ic-card:before {
  content: "\e9c6";
}
.tg-ic-wallet:before {
  content: "\e9c7";
}
.tg-ic-cash:before {
  content: "\e9c8";
}
.tg-ic-tag:before {
  content: "\e9c9";
}
.tg-ic-link:before {
  content: "\e9ca";
}
.tg-ic-tribe:before {
  content: "\e9cb";
}
.tg-ic-github:before {
  content: "\e9cc";
}
.tg-ic-github-alt:before {
  content: "\e9cd";
}
.tg-ic-github-square:before {
  content: "\e9ce";
}
.tg-ic-gitlab:before {
  content: "\e9cf";
}
.tg-ic-slack:before {
  content: "\e9d0";
}
.tg-ic-g-drive:before {
  content: "\e9d1";
}
.tg-ic-trello:before {
  content: "\e9d2";
}
.tg-ic-facebook-official:before {
  content: "\e9d3";
}
.tg-ic-facebook-square:before {
  content: "\e9d4";
}
.tg-ic-facebook:before {
  content: "\e9d5";
}
.tg-ic-coinbase:before {
  content: "\e9d6";
}
.tg-ic-harvest:before {
  content: "\e9d7";
}
.tg-ic-iDeal:before {
  content: "\e9d8";
}

.tg-ic-award:before {
  content: "\e801";
}
.tg-ic-account-outline:before {
  content: "\e800";
}
.tg-ic-briefcase-clock-outline:before {
  content: "\e802";
}
.tg-ic-bullhorn-outline:before {
  content: "\e803";
}

